@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500&display=swap');
body {
    background-color: #ead9fa;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bgimage {
    width: 800px;
    z-index: -1;
}

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #79578e;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: 0.3s;
}

:active button:focus {
    background-color: #44215a;
}

.container {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.bg-text {
    width: 500px;
}

.reblur {
    animation: reblur 500ms;
}

@keyframes reblur {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blur-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    z-index: 999999999999999;
    background-color: #c0c0c05e;
}

.blur-content p1 {
    color: #FFFFFF;
    margin-bottom: 20%;
}

.blur-content h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px #FFFFFF;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

#bot {
    width: 100vw;
}

@media (max-width: 575.98px) {
    .bg-text {
        width: 200px;
    }
    #bot {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #bot {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #bot {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #bot {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 1200px) {}